{{#if updateArticleForm}}
  <h1>Update</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input value=article.title id="title"}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=article.author id="author"}}
      </div>

      <div class="form-group">
        <label for="image_url">Image Url</label>
        {{input value=article.image_url id="image_url"}}
      </div>

      <div class="form-group">
        <label for="text">Text</label>
        {{input value=article.text id="text"}}
      </div>

      <button {{action 'update' article}} class="btn btn-default">Save</button>
    </form>
  </div>
    {{else}}
    <button {{action 'updateArticleForm'}} class="btn btn-default">Update</button>
  {{/if}}
